@charset "utf-8";

body {
    margin: 20px;
  }
  .input-div {
    padding: 5px;
    font-family: monospace;
  }
  a {
    color: blue;
  }

  p {
    width: 500px;
  }

  #status {
    margin-top: 30px;
    font-size: 20px;
  }
  .pred-container {
    margin-bottom: 20px;
  }
  .pred-container > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    padding-right: 20px;
  }